$Brown: #451110;
$Purple: #271c58;
$Pink: #b66b7b;
$LOlive: #bcb489;
$Yellow: #f0b402;
$Yellow2:#af8402;
$Dark: rgb(31, 28, 28);
$DOlive: #444424;
$DarkestWhite: #ecebeb;

@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lacquer&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sigmar+One&display=swap');

/*Responsive var */
$mobile-breakpoint: 600px;
$tablet-breakpoint: 900px;