@use '../../utilities/theme.scss' as *;



.ExtraCard {
  color: black;
  margin-left: 2em;
  margin-top: 4%;
  border-radius: 4em;
  position: relative;
  border: solid 2px $Yellow;
  display: flex;
  width: auto;
  text-align: center;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  padding: 4%;
  
  &__sections {
    display: flex;
    flex-direction: row;
  }
  &__title {
    font-size: 2rem;
    font-weight: bold;
  }
  &__Info {
    width: 70%;
  }
  &__description {
  font-size: 1.4rem;
    
  }
  &__image {
    display: flex;
    justify-content: center;
    align-items: center;
    &__img {
      
      width: 100%;
      height: auto;
    }
  }
 
  &__buyBtn {
    border: none;
    background-color: $Yellow2;
    font-size: 1.5rem;
    color: white;
    padding:  1rem;
    border-radius: 0.2em;
    &:hover {
      background-color: $LOlive;
    }
   }
}

/* Responsive */

@media (max-width: $tablet-breakpoint) {

  .ExtraCard {
    color: black;
    margin-left: 0em;
    margin-top: 4%;
    border-radius: 4em;
    position: relative;
    border: solid 2px $Yellow;
    display: flex;
    width: auto;
    text-align: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    padding: 4%;
    
    &__sections {
      display: flex;
      flex-direction: row;
    }
    &__title {
      font-size: 2rem;
      font-weight: bold;
    }
    &__Info {
      width: 70%;
    }
    &__description {
    font-size: 1.4rem;
      
    }
    &__image {
      display: flex;
      justify-content: center;
      align-items: center;
      &__img {
        
        width: 100%;
        height: auto;
      }
    }
   
    &__buyBtn {
      border: none;
      background-color: $Yellow2;
      font-size: 1.5rem;
      color: white;
      padding:  1rem;
      align-self: center;
      border-radius: 0.2em;
      &:hover {
        background-color: $LOlive;
      }
     }
  }
  
  }


  