@use '../../utilities/theme.scss' as *;

.MenuParagraph {
  font-size: 4rem;
  text-align: center;
  font-family: 'Pacifico', cursive;
  text-shadow: 4px 4px 3px black;
  margin-top: 6rem;
 
}

.product {
  width: 350px;
  height: 500px;
  margin: 1rem 5rem;
  border: 1px solid $Yellow;
  padding: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  border-radius: 1rem;
  background-color: rgb(0, 0, 0, 0.8);
  
  
  .info {
    height: 90%;
  }
  img {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
  }

  &__title {
    font-size: 1.5rem;
    margin-bottom: 10px;
    font-family: 'Pacifico', cursive;
  }

  &__sel {
    margin-top: 15px;
    display: flex;
    flex-direction: row;
    width: 100%;
    place-content: center;
    justify-content: space-around;
  }
  
  &__list {
    
    background-color: rgb(0, 0, 0, 0.5);
    color: white;
    border: $Yellow 2px solid;
    font-size: 1.3rem;
  }
  &__description {
    font-size: 1.2rem;
    margin-bottom: 0px;
    font-family: "Lucida Console", "Courier New", monospace;
  }

  &__price {
    margin-top: 0rem;
    font-size: 2rem;
    
  }

  &__btn {
    background-color: #0066cc;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 1.2rem;
    cursor: pointer;
    transition: all 0.3s ease-in-out;

    &:hover {
      background-color: #003366;
    }
 }
 @media screen and (max-width: 768px) {
  width: 80%;
  margin-left: 0;
  min-height: 350px;
  height: auto;
}
  
}

.productCards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  @media screen and (max-width: 768px) {
     margin-left: 10%;
  }
}